---

---

<footer class="px-4 bg-[#171717] text-[#4c4c4c]">
  <div class="max-w-6xl mx-auto h-14 flex items-center justify-between">
    <p>
      Desarrollador por <span class="font-bold">IkedaDev</span>
    </p>
  </div>
</footer>
