---
import ScheduleVisit from "@/components/ScheduleVisit.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import IMG_HEADER from "@/assets/images/servicio-1.png";
import { Picture } from "astro:assets";
import PricesSection from "@/components/PricesSection.astro";
import type { Service } from "@/interfaces";

const services: Service[] = [
  { name: "Masaje Descontracturante", duration: "40 min", price: 17000 },
  { name: "Masaje Mixto", duration: "40 min", price: 15000 },
  { name: "Masaje Relajación", duration: "40 min", price: 13000 },
  { name: "Masaje Cráneo Facial", duration: "35 min", price: 10000 },
  { name: "Masaje Cuerpo Completo", duration: "60 min", price: 20000 },
  { name: "Drenaje Linfático", duration: "45 min", price: 14000 },
  { name: "Masaje Podal", duration: "30 min", price: 10000 },
  { name: "Limpieza Facial", duration: "60 min", price: 20000 },
];
---

<MainLayout title="Anami Masoterapia">
  <!-- <section class="mt-7 relative hidden md:flex md:mx-2 query-mb">
    <Picture
      class="max-w-1/2 xl:max-w-1/3 absolute center-img-absolute"
      formats={["webp", "jpeg", "png"]}
      src={IMG_HEADER}
      width={900}
      alt={"Tabla de servicios masoterapia"}
    />
    <div class="flex max-w-1/3 z-10 relative mx-auto flex-col items-center">
      <h2
        class="title items-start translate-x-[-50%] font-bold text-[4vw] tracking-widest whitespace-nowrap mt-[28vw] lg:mt-[18vw]"
      >
        Cuidado Personal
      </h2>
      <h1
        class="title items-start translate-x-[80%] font-bold text-[7vw] tracking-widest whitespace-nowrap mt-[14vw] lg:mt-[7vw]"
      >
        Servicios
      </h1>
      <h2
        class="title items-start translate-x-[-90%] font-bold text-[5vw] tracking-widest whitespace-nowrap mt-[12vw] lg:mt-[6vw]"
      >
        Anami
      </h2>
    </div>
    <div class="h-screen"></div>
  </section> -->
  <section class="mt-10 relative query-mb max-w-6xl mx-auto">
    <h1 class="text-center text-7xl title">Servicios</h1>
  </section>
  <section class="md:hidden my-10 md:mx-2">
    <h1 class="title text-center text-6xl">Servicios</h1>
  </section>
  <PricesSection>
    <div class="px-10">
      <h2 class="title text-6xl text-center mt-15 mb-10 hidden md:inline-block">
        Precios
      </h2>
      <div class="flex flex-col">
        {
          services.length > 0 &&
            services.map(({ duration, name, price }) => (
              <div class="my-3 ">
                <h4 class="title mb-2 font-semibold text-2xl text-primary">
                  {name}
                </h4>
                <p class="text">
                  <span>{duration}</span> - <span>${price}</span>
                </p>
              </div>
            ))
        }
      </div>
    </div>
  </PricesSection>
  <ScheduleVisit>
    Agenda tu masaje en mi home studio y disfruta de un ambiente tranquilo y
    acogedor. Contáctame para reservar tu sesión y elige el tratamiento perfecto
    para ti. Relájate, renueva tu energía y cuida tu bienestar
  </ScheduleVisit>
  <div class="my-20 h-1"></div>
</MainLayout>

<style>
  /* @media screen and (min-width: 900px) {
    .query-mb {
      margin-bottom: 100px;
    }
  }
  @media screen and (min-width: 1000px) {
    .query-mb {
      margin-bottom: 200px;
    }
  }
  @media screen and (min-width: 1100px) {
    .query-mb {
      margin-bottom: 300px;
    }
  }
  @media screen and (min-width: 1250px) {
    .query-mb {
      margin-bottom: 10%;
    }
  } */
  .center-img-absolute {
    left: 50%;
    transform: translateX(-50%);
  }
  .img-aceite {
    left: 55%;
  }
</style>
